<h2 mat-dialog-title>Edit document: {{ data.name }}</h2>
<mat-dialog-content [formGroup]="documentForm" class="dialog-content">
  @if (data.isReviewer) {
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Document Status</mat-label>
      <mat-select formControlName="status">
        @if (data.status === documentStatus.underReview) {
          <mat-option [value]="documentStatus.approved">
            {{ documentStatusRelatedName[documentStatus.approved] }}
          </mat-option>
          <mat-option [value]="documentStatus.declined">
            {{ documentStatusRelatedName[documentStatus.declined] }}
          </mat-option>
        } @else {
          <mat-option [value]="documentStatus.underReview">
            {{ documentStatusRelatedName[documentStatus.underReview] }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  } @else {
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Document Name</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="documentForm.invalid">
    Save
  </button>
</mat-dialog-actions>
