@if (isLoading$ | async) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div class="register-container">
  <mat-card class="register-card">
    <p class="title">Sign Up</p>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width margin-bottom">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName" type="text" required>
        <mat-error *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
          {{ fullNameError }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width margin-bottom">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
          {{ emailError }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width margin-bottom">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
          {{ passwordError }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width margin-bottom">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" required>
        <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          {{ confirmPasswordError }}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width margin-bottom" type="submit"
              [disabled]="!formGroup.valid">
        Register
      </button>
    </form>
    <p class="text-center">
      Already have an account?
      <a [routerLink]="['/', routerLinks.auth, routerLinks.login]">Login</a>
    </p>
  </mat-card>
</div>
