@if ((loadDocumentsListStatus$ | async) === progressStatuses.inProgress ||
(manageDocumentStatus$ | async) === progressStatuses.inProgress ||
(performDocumentActionStatus$ | async) === progressStatuses.inProgress) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div class="dashboard-container">

  <h3>Document List</h3>

  @if (user$ | async; as user) {
    @if (user.role !== userRole.reviewer) {
      <button mat-raised-button color="primary" (click)="openAddDocumentDialog()">
        <mat-icon>add</mat-icon>
        Add Document
      </button>
    }

    <app-documents-dashboard-filters
      [isReviewer]="user.role === userRole.reviewer"
      (filtersChanged)="onFiltersChanged($event)"
    ></app-documents-dashboard-filters>

    @if (documentsList$ | async; as documentsList) {
      @if (documentsList.length) {
        <app-documents-dashboard-table
          [documents]="documentsList"
          [isReviewer]="user.role === userRole.reviewer"
          (filtersChanged)="onFiltersChanged($event)"
        ></app-documents-dashboard-table>
      } @else {
        <p class="dashboard-container__no-documents-text">No documents yet</p>
      }
    }
  }
</div>
