<mat-progress-bar
  *ngIf="(loadDocumentsListStatus$ | async) === progressStatuses.inProgress ||
  (manageDocumentStatus$ | async) === progressStatuses.inProgress ||
  (performDocumentActionStatus$ | async) === progressStatuses.inProgress"
  mode="indeterminate"
></mat-progress-bar>

<div class="dashboard-container">

  <h3>Document List</h3>

  @if (user$ | async; as user) {
    @if (user.role !== userRole.reviewer) {
      <button mat-raised-button color="primary" (click)="openAddDocumentDialog()">
        <mat-icon>add</mat-icon>
        Add Document
      </button>
    }

    <app-documents-dashboard-filters
      [isReviewer]="user.role === userRole.reviewer"
      (filtersChanged)="onFiltersChanged($event)"
    ></app-documents-dashboard-filters>

    <ng-container *ngIf="documentsList().length; else noDocuments">
      <app-documents-dashboard-table
        [documents]="documentsList"
        [isReviewer]="user.role === userRole.reviewer"
        (filtersChanged)="onFiltersChanged($event)"
      ></app-documents-dashboard-table>
    </ng-container>
  }

  <ng-template #noDocuments>
    <p class="dashboard-container__no-documents-text">No documents yet</p>
  </ng-template>
</div>
